# History files
.Rhistory
.Renviron
*.Renviron
.Rapp.history
*.Rproj

# Session Data files
*.RData
.RData
.RDataTmp
.user

# time series client code from AQI
2025July/coding_flow/rcode/timeseries_client.R
.Rproj.user
